body{
	font-family: Tahoma,Geneva,Sans-sarif;
	color: #fff;
	background:url(6.jpg);
	background-size: cover; 
}
.signin
{
	background: rgba(10,0,0,0.9);
	padding: 40px;
	width: 250px;
	margin-top: 80px;

	height: 400px;
	margin-left: 500px;


}
form{
	width: 240px;
	text-align:center; 
}
input
{
	width: 240px;
	text-align:center;
	background:transparent;
	border: none;
	border-bottom: 1px solid #fff;
	font-family: sans-serif;
	font-size:16px;
	font-weight: 200px;
	padding: 10px 0;
	transition:border 0.5s;
	outline: none;
	color: #fff; 
	border-radius: 15px; 

}
input[type=button]
{
	border: none;
	width: 190px;
	background: white;
	color: #000;
	font-size:16px;

}